<div class="row">

	<form class="form-horizontal span12">

		<div class="control-group error">
			<span class="control-group error help-inline"></span>
		</div>
				<div class="control-group">
					<label for="name" class="control-label">Seen where?:</label>
					<div class="controls">
						<input type="text" class="input-medium" required id="name" name="name" placeholder="location?" value="<%= name %>" />
					</div>
				<div class="control-group">
					<label for="address" required class="control-label">Address:</label>
					<div class="controls">
						<div class="input-append">
						<input type="text" id="address" class="input-xlarge" name="address" placeholder="Where did u see Santa?" value="<%= address %>" />
						<a href="#" class="btn btn-primary locate">Find</a>
						</div>
					</div>
				</div>
			</div>
		<div class="control-group">
			<div class="alert alert-success" style="padding:5px; display: none">
				<b>Saved!</b> The Santa sighting location has been saved!
			</div>
			<div class="controls">
				<a href="#" class="btn btn-success save">Save</a>
				<a href="#deleteConfirm" role="button" class="btn btn-danger" data-toggle="modal">Delete</a>
			</div>
		</div>

		<!-- Ask for confirmation -->
		<div id="deleteConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="confirmLabel">Confirm Delete</h3>
		  </div>
		  <div class="modal-body">
		    <p>Are you certain you want to delete the sighting spot?</p>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    <button class="btn btn-danger delete">Delete</button>
		  </div>
		</div>
		<p>
		<div id="googleMapBox" style="width:100%; height: 250px"></div>
	</form>
</div>


