<div class="row">

	<form class="form-inline span12">
		<div class="control-group error">
			<span class="control-group error help-inline"></span>
		</div>

		<label for="name" class="control-label">Name:</label>
		<input type="text" class="input-medium" required id="name" name="name" placeholder="Nickname" value="<%= name %>" />
		<label for="addresslbl" required class="control-label">Address:</label>
		<div class="input-append">
			<input type="text" id="address" class="input-xlarge" name="address" placeholder="Your Favourite Spot" value="<%= address %>" />
			<a href="#" class="btn btn-primary locate">Find</a>
		</div>

		<a href="#" class="btn btn-success save">Save</a>
		<a href="#deleteConfirm" role="button" class="btn btn-danger" data-toggle="modal">Delete</a>

		<div class="alert alert-success" style="padding:5px; display: none">
			<b>Saved!</b> Your pick-up location has been saved
		</div>

		<!-- Ask for confirmation -->
		<div id="deleteConfirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="confirmLabel">Confirm Delete</h3>
		  </div>
		  <div class="modal-body">
		    <p>Are you certain you want to delete the pick-up spot?</p>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    <button class="btn btn-danger delete">Delete</button>
		  </div>
		</div>

		<p>
		<div id="googleMapBox" style="width:100%; height: 250px"></div>
	</form>

</div>


