eatpy_tools.egg-info
webapp-sample-working
webapp_6pmbackup
webapp_backup
webapp_backup2
webapp_brunch
.project
.DS_STORE
*.egg
*.pyc
proj_env
*.egg-info
node_modules
.pydevproject
.settings
build
local-settings
settings
dist
*.log
.idea
santa_env